@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Source+Code+Pro:wght@500&display=swap');

body{
     padding: 0rem; 
    background-image: url("images.jpg" );
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  display:flex;
  flex-direction: column;
  justify-content: left;
  font-family: 'Indie Flower', cursive;
  font-family: 'Source Code Pro', monospace; 
}

.nav{

    margin-top:auto;
    background-color: purple;
    text-decoration: none;
    padding:1rem;
    text-align: left;
    font-size:1.2rem
}  


.nav-link-active {
    font-weight:  bold;
    
}
h1{
color: white;
background-color:purple;
border-radius 1rem;
font-size: 1.7rem;
}
a{
    color: white;
    text-decoration: none;
    padding:1rem;
}

.container{
    background-color: purple;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 1px solid #E5E7EB;
    box-shadow: 9px 6px 7px 6px white;
    border-radius: 30px;
    width: 23vw;
    height: 70vh;
    padding: 3rem;
    margin: auto;
    margin-top: 2rem;
}

label{
    padding:1.5rem;
    font-size:2.5rem;
}

input{
    margin: 1rem;
    padding: 0.2rem;
}

#btn{
    margin:1rem;
    background-color: #E7E9E7;
border-radius: 1rem;
    border: none;
    padding: 1rem;
    font-weight: bold;
    font-size: medium;
    box-shadow: 4px 4px 5px black;
}

#btn:hover{
    cursor: pointer;
 color:red;
background-color: purple
}

#output{
    padding: 1rem;
color: red;


    font-weight: bold;
background-color: white;
}